
/* Screens 1500px + */
@media screen and (min-width: 1500px){
  .grid_main{ 
      height: 100vh;
  }
  
}
/* Screens 1500px + */


.grid_main{ 
  display: grid;
  grid-template-columns: 50px 2fr .6fr 50px;
}

.button_wrapper{
  background-color: #F5F5F5;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button_wrapper ul { 
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  

}


.icon_button{
  /* width: 40px; */
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.button_widthFixed{
  width: 40px;
}
.icon_button:hover{
  background:#c6c6c6;
  border-radius: 9px;
}
.icon_button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon_spacing{
  margin: 1em 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
